/* comienzo body */
* { 
    margin: 0;
    padding: 0;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a { 
    text-decoration: none;
    color: white;
    margin: 0 .5rem;
}

.navbar-nav {
    text-align: right;
}

.logonav {

    height: 2rem;
    position: absolute;
    top: 8px;
}

.nav-link:hover {
border-bottom: 2px solid yellow;
}

/* fin body */

/* Comienzo pagina inicio */

.portada {
    background-image: url("../assets/fondoportada.png");
    border: 6px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". foto ."
      "titulo1 foto titulo2"
      ". foto .";
  }
  
.foto {
    grid-area: foto;
    margin: auto;
 }
  
.titulo1 { grid-area: titulo1; }
  
.titulo2 { grid-area: titulo2; }
  
.portada h2 {
    color: white;
    text-align: center;
  }

.container_ofertasinicio {
    display: flex;
    justify-content: center;
}

.card__ofertasinicio {
    background-color: #212529;
    color: white;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5%;
}

.card__ofertasinicio img {
    width: 100%;
}

.card__ofertasinicio div a {
    background-color: aliceblue;
    font-weight: bold;
    padding: .3rem;
    border-radius: 1rem;
    text-decoration: none;

}



/* Fin pagina inicio */



/* comienzo pagina ofertas */

.container_seccionofertas {
    display: flex;
    justify-content: center;
  }
  
  .ofertaimg {
    margin: 0 10px 10px 10px;
  }

.tituloofertas h1 {
    text-align: center;
}

/* fin pagina ofertas */



/* comienzo pagina productos */

.cardproductos {
    border: 2px solid black;
    background-color: grey;
    width: 10rem;
}

.cardproductos__img {
    height: 6rem;
    margin: auto;
    display: block;
}

.container_productospagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* fin pagina productos */

/* comienzo pagina nosotros */

.container-historianegocio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .fotosuc01,
  .fotosuc02 {
    flex: 1;
  }
  
  .historianegocio {
    flex: 2;
  }

.fotosuc01 img,.fotosuc02 img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.historianegocio {
    flex: 2;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .historianegocio p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .historianegocio strong {
    font-weight: bold;
  }
  
  .historianegocio a {
    color: #007bff;
    text-decoration: none;
  }
  
  .historianegocio a:hover {
    text-decoration: underline;
  }


/* fin pagina nosotros */

/* Inicio media querys*/

@media (max-width: 425px) {

    /*Comienzo media querys pagina inicio */
    .portada {
        background-image: url("../assets/fondoportada.png");
        border: 6px solid black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 0.4fr; 
        gap: 0px 0px;
        grid-template-areas:
        ". titulo1 ."
        ". foto ."
        ". titulo2 ."; 
      }
      
    .foto {
        grid-area: foto;
        margin: auto;
     }
      
    .titulo1 { 
        grid-area: titulo1;
    }
      
    .titulo2 { 
        grid-area: titulo2;
    }
      
    .portada h2 {
        color: white;
        text-align: center;
      }

    .container_ofertasinicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    /*fin media querys pagina inicio */

    /*comienzo media querys pagina productos*/

    .container_productospagina {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*Fin media querys pagina productos*/

    /*comienzo media querys pagina nosotros*/

    .container-historianegocio {
        flex-direction: column;
        align-items: flex-start;
      }

      .historianegocio {
        flex: 2;
        overflow-y: auto;
        max-height: 200px; /* ajusta la altura máxima según tus necesidades */
        margin: 20px 0; /* Espacio vertical entre las secciones */
      }
    
      .fotosuc01,
      .fotosuc02 {
        flex: none;
      }

    /*Fin media querys pagina nosotros*/
    
}
/* Final media querys */